<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_3block :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title th:text="#{login}+' | '+ #{shop.title}"> </title>
</head>

<body>
<div class="user_container">
	<h2 class="title login-title" th:text="#{login}"></h2>
	<div class="login_content">
	<p class="description login-desc" th:text="#{msg.login.input}"></p>
	<div class="login_form_area">
		<form th:action="@{/login}" method="post" class="login_form" th:object="${loginForm}">
			<div th:if="${#fields.hasErrors()}" class="error_list mb-20">
				<ul>
					<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
				</ul>
			</div>

			<div class="row mb-20">
				<label class="label" th:text="#{loginForm.email}"></label>
				<input type="text" th:field="*{email}" placeholder="example@domain.com" />
			</div>

			<div class="row mb-30">
				<label class="label" th:text="#{loginForm.password}"></label>
				<input type="password" th:field="*{password}" />
			</div>

			<div class="center-text">
				<input type="submit" th:value="#{login}" class="send_button full-width p-15" />
			</div>
		</form>
	</div>
	</div>
</div>
	<p class="center-text mt-20">
		<a th:href="@{/}" th:text="#{msg.back.to.top}"></a>
	</p>
</body>

</html>
