<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
    <title>気分で選ぶ商品診断 | シェアードショップ</title>
    <meta charset="UTF-8" />
</head>

<body class="user item_list">

	<h2 class="title">こんな時はこれで決まり!!</h2>

	<!-- 未選択時 -->
	<div th:if="${mood == null}" class="message">
		<p>左側のメニューから気分を選んでください</p>
	</div>

	<!-- 結果セクション -->
	<div th:if="${mood != null}">
		<h3 class="diagnosis_result_title" th:text="${moodTitle}"></h3>

		<p th:text="#{msg.client.item.list.none}" th:if="${#lists.isEmpty(items)}"></p>

		<th:block th:if="!${#lists.isEmpty(items)}">
			<table class="list_table item_detail">
				<tr>
					<th th:text="#{data.item.image}"></th>
					<th th:text="#{data.item.name}"></th>
					<th th:text="#{data.item.price}"></th>
					<th th:text="#{category}"></th>
				</tr>
				<!--/* 商品一覧 */-->
				<tr th:each="item : ${items}">
					<td class="image">
						<img th:src="@{/images/{image}(image=${item.image})}" th:if="${item.image != null}" />
						<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}" />
					</td>
					<td><a th:href="@{/client/item/detail/{id}(id=${item.id})}" th:text="${item.name}"></a></td>
					<td th:text="${item.price}"></td>
					<td th:text="${item.categoryName}"></td>
				</tr>
			</table>
		</th:block>
	</div>

</body>

</html>
