<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{item}+#{title.list}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin">
	<h2 class="title" th:text="#{item}+#{title.list}"></h2>

	<!-- /*追加登録不可メッセージ */-->
	<div class="error_message mb-20" th:unless="${registrable}">
		<span th:text="#{msg.admin.cannot.regist(#{item})}"></span>
	</div>

	<!--/* 登録なしメッセージ */-->
	<div th:if="${#lists.isEmpty(items)}" class="empty-list-message">
		<p th:text="#{msg.admin.list.none(#{item})}"></p>
	</div>

	<div class="right-aligned-container mb-20">
		<form th:action="@{/admin/item/regist/input}" method="post">
			<input type="submit" th:value="#{item}+#{title.input.new}" class="send_button" th:if="${registrable}" />
		</form>
	</div>

	<!--/* 一覧表示 */-->
	<div class="item_list_table" th:if="!${#lists.isEmpty(items)}">
		<table class="list_table">
			<thead>
				<tr>
					<th>[[#{data.id}]]</th>
					<th class="text-left">[[#{itemForm.name}]]</th>
					<th>[[#{itemForm.price}]]</th>
					<th>[[#{data.category}]]</th>
					<th>[[#{data.operate}]]</th>
				</tr>
			</thead>
			<tbody>
				<!--/* 商品情報 */-->
				<tr th:each="item: ${items}">
					<td th:text="${item.id}"></td>
					<td class="text-left"><a th:href="@{/admin/item/detail/{id}(id=${item.id})}" th:text="${item.name}"></a></td>
					<td>¥<span th:text="${#numbers.formatInteger(item.price, 1, 'COMMA')}"></span></td>
					<td th:text="${item.category.name}"></td>
					<td>
						<div class="operation-buttons">
							<form th:action="@{/admin/item/update/input/{id}(id=${item.id})}" method="post">
								<input type="submit" th:value="#{title.update.input}" class="btn-small" />
							</form>
							<form th:action="@{/admin/item/delete/check/{id}(id=${item.id})}" method="post">
								<input type="submit" th:value="#{title.delete.check}" class="delete btn-small" />
							</form>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!--/* ページング */-->
	<ul class="paging" th:if="!${#lists.isEmpty(items)}">
		<li th:class="${pages.first} ? 'disabled':''">
			<span th:if="${pages.first}">&lt;&lt;</span>
			<a th:if="${not pages.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
		</li>
		<li th:each='i : ${#numbers.sequence(0, pages.totalPages-1)}' th:class="(${i}==${pages.number})? 'current' : ''">
			<span th:if='${i}==${pages.number}' th:text='${i+1}'>1</span>
			<a th:if='${i}!=${pages.number}' th:href="@{${url}(page=${i})}">
				<span th:text='${i+1}'>1</span>
			</a>
		</li>
		<li th:class="${pages.last} ? 'disabled':''">
			<span th:if="${pages.last}">&gt;&gt;</span>
			<a th:if="${not pages.last}" th:href="@{${url}(page=(${pages.totalPages}-1))}">&gt;&gt;</a>
		</li>
	</ul>
</body>

</html>
